/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: floralwhite;
$primary-dark: rgb(36, 36, 36);
;

* {
 margin: 0px;
}

body {
  margin: 0px;
  background: $primary-background;
  background-image: url('../../assets/landing-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

.hidden {
  display: none !important;
}

.borderme {
  border: solid red 2px;
}

.header {
  background: $primary-dark;
  height: 10em;
  width: 100wv;
}

.page-title {
  color: floralwhite;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-block {
  border: 1px solid $primary-dark;
  background: orange;
  margin: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.user-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-landing {
  background: rgba(255, 250, 240, 0.85);
  margin: 30px;
  border: orange 1px solid;
  width: 90%;
  height: auto;

}

.user-login-input {
  padding: 5px;
}

.name-and-loyalty {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 2vh;
  padding: 2vh;
  border-bottom: solid $primary-dark 3px;
}

.user-details {
  display: flex;

  // USE FOR MOBILE
  // flex-direction: column;
}

.user-booking-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  height: auto;
}

.make-new-booking {
  width: 50%;
}

.stay-details {
  margin: 10px;
  border-bottom: 1px solid $primary-dark;
}

.stay-listing {
  margin: 20px;
  border-bottom: 1px solid floralwhite;
}

.make-new-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
}
